<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name='moduleName' value='undefined' />
  <targets>
    <target name="console" xsi:type="ColoredConsole">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="time" layout="${time}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="file" xsi:type="File" fileName="C:/Dota2Helper/Log ${shortdate}.txt">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="console" enabled="true" />
    <logger name="*" writeTo="file" enabled="true" />
  </rules>
</nlog>